.headerOuterContainer {
    height: 50px;
    position: absolute;
    width: 100%;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0
}

.headerButton {
    padding-inline: 20px;
    padding-block: 15px;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color:#0e2d41;
    margin-inline:5px;
}

.headerButton:hover {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 0px;
    border-top: 0px;
    text-shadow: 0 0 20px #70c6ff;
}
